<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>webpack-mpa-cli template</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit" />
<meta name="author" content="Vusui.com">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>
<body>
<header>
	<ul>
		<li><a href="index.html">首页</a></li>
		<li><a href="scss.html" class="active">SCSS</a></li>
		<li><a href="about.html">关于</a></li>
	</ul>
</header>
<section>
	<ul>
		<li class="fs-12">使用动态样式语言SCSS编译</li>
		<li class="fs-16">使用动态样式语言SCSS编译</li>
		<li class="fs-20">使用动态样式语言SCSS编译</li>
		<li class="fs-25">使用动态样式语言SCSS编译</li>
		<li class="fs-30">使用动态样式语言SCSS编译</li>
	</ul>
</section>
<footer>
	&copy;2018 vusui.com
</footer>
</body>
</html>